name: Build Info Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create build_info.txt
        run: echo "Date du build : $(date)" > build_info.txt

      - name: Upload build_info.txt as artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-info
          path: build_info.txt
